* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: hsl(30, 38%, 92%);
    max-width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    height: 440px;
    border-radius: 20px;
    display: flex;
}


.product__image--desktop {
    width: 300px;
    height: 440px;
    border-radius: 20px 0 0 20px;
}


.product__image--mobile {
    display: none;
}


.product__description {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 440px;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product__description--header {
    font-weight: 500px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    letter-spacing: 2px;
}


.product__description--title {
    margin: 20px 0;
    color: hsl(212, 21%, 14%);
    font-family: "Fraunces", sans-serif;
    font-weight: 700px;
    font-size: 30px;

}


.product__description--body {
    font-family: "Montserrat", serif;
    font-weight: 500px;
    font-size: 14px;
    color: hsl(228, 12%, 48%);

}


.product__price-container {
    position: relative;
    margin: 30px 0 20px;
}


.product__price--new-price {
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces", sans-serif;
    font-weight: 700px;
    font-size: 30px;
}


.product__price--old-price {
    position: absolute;
    top: 12px;
    margin-left: 30px;
    font-family: "Fraunces", sans-serif;
    font-size: 11px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}


.add-to-cart__button {
    position: relative;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-family: "Montserrat", serif;
    font-weight: 700px;
}


.add-to-cart__button:hover {
    cursor: pointer;
    background-color: hsl(158, 55%, 16%);
}


/* .order {
    padding: 10px;
} */


.add-to-cart__button--cart-img {
    top: 17px;
    position: absolute;
    left: 85px;
}


.add-to-cart__button span {
    top: 17px;
    position: absolute;
    left: 105px;
}


@media screen and (max-width: 700px) {

    body {
        max-width: 365px;
        margin: 0 auto;
        height: 702px;
    }

    main {
        background-color: hsl(30, 38%, 92%);
        display: block;
        width: 350px;
        height: 700px;
        padding: 20px;
    }

    .product__image--desktop {
        display: none;
    }

    .product__image--mobile {
        display: flex;
        width: 320px;
        height: 250px;
        border-radius: 20px 20px 0 0;
    }

    .product__description {
        width: 320px;
        height: 410px;
        border-radius: 0 0 20px 20px;
    }

}